body.dark {
  color: #eee;
  background-color: #020202;
}

.dark a  {
  color: #2a7ae2;
}
.dark a:visited {
  color: #1756a9;
}
.dark a:hover {
  color: #eee;
}

.dark blockquote  {
  color: #7d7d7d;
  border-left: 4px solid #171717;
}

.dark pre,
.dark code {
  border: 1px solid #171717;
  background-color: #110;
}

.dark .svg-icon {
  fill: #7d7d7d;
}


.dark table {
  color: #c0c0c0;
  border: 1px solid #171717;
}
.dark table tr:nth-child(even) {
  background-color: #080808;
}
.dark table th {
  background-color: #0f0f0f;
  border: 1px solid #212121;
  border-bottom-color: #363636;
}
.dark table td {
  border: 1px solid #171717;
}

/** Site header */
.dark .site-header {
  border-top: 5px solid #bdbdbd;
  border-bottom: 1px solid #171717;
}

.dark .site-title,
.dark .site-title:visited {
  color: #bdbdbd;
}

.dark .site-nav .page-link {
  color: #eee;
}
@media screen and (max-width: 600px) {
    .dark .site-nav {
    background-color: #020202;
    border: 1px solid #171717;
  }
  .dark .site-nav .menu-icon > svg {
    fill: #bdbdbd;
  }
}

.dark .site-footer {
  border-top: 1px solid #171717;
}


.dark .footer-col-wrapper {
  color: #7d7d7d;
}


.dark .post-meta {
  color: #7d7d7d;
}


.dark .highlight {
  background: #000;
}
.dark .highlighter-rouge .highlight {
  background: #110;
}
.dark .highlight .c {
  color: #998;
}
.dark .highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}
.dark .highlight .cm {
  color: #998;
}
.dark .highlight .cp {
  color: #999;
}
.dark .highlight .c1 {
  color: #998;
}
.dark .highlight .cs {
  color: #999;
}
.dark .highlight .gd {
  color: #000;
  background-color: #fdd;
}
.dark .highlight .gd .x {
  color: #000;
  background-color: #faa;
}
.dark .highlight .gr {
  color: #a00;
}
.dark .highlight .gh {
  color: #999;
}
.dark .highlight .gi {
  color: #000;
  background-color: #dfd;
}
.dark .highlight .gi .x {
  color: #000;
  background-color: #afa;
}
.dark .highlight .go {
  color: #888;
}
.dark .highlight .gp {
  color: #555;
}
.dark .highlight .gu {
  color: #aaa;
}
.dark .highlight .gt {
  color: #a00;
}
.dark .highlight .kt {
  color: #458;
}
.dark .highlight .m {
  color: #099;
}
.dark .highlight .s {
  color: #d14;
}
.dark .highlight .na {
  color: #008080;
}
.dark .highlight .nb {
  color: #0086b3;
}
.dark .highlight .nc {
  color: #458;
}
.dark .highlight .no {
  color: #008080;
}
.dark .highlight .ni {
  color: #800080;
}
.dark .highlight .ne {
  color: #900;
}
.dark .highlight .nf {
  color: #900;
}
.dark .highlight .nn {
  color: #555;
}
.dark .highlight .nt {
  color: #000080;
}
.dark .highlight .nv {
  color: #008080;
}
.dark .highlight .w {
  color: #bbb;
}
.dark .highlight .mf {
  color: #099;
}
.dark .highlight .mh {
  color: #099;
}
.dark .highlight .mi {
  color: #099;
}
.dark .highlight .mo {
  color: #099;
}
.dark .highlight .sb {
  color: #d14;
}
.dark .highlight .sc {
  color: #d14;
}
.dark .highlight .sd {
  color: #d14;
}
.dark .highlight .s2 {
  color: #d14;
}
.dark .highlight .se {
  color: #d14;
}
.dark .highlight .sh {
  color: #d14;
}
.dark .highlight .si {
  color: #d14;
}
.dark .highlight .sx {
  color: #d14;
}
.dark .highlight .sr {
  color: #009926;
}
.dark .highlight .s1 {
  color: #d14;
}
.dark .highlight .ss {
  color: #990073;
}
.dark .highlight .bp {
  color: #999;
}
.dark .highlight .vc {
  color: #008080;
}
.dark .highlight .vg {
  color: #008080;
}
.dark .highlight .vi {
  color: #008080;
}
.dark .highlight .il {
  color: #099;
}
